---
import Search from "./icons/search.astro";
---

<astro-search class="w-full max-w-2xl">
    <form class="relative">
        <input
            type="text"
            placeholder="Search with SearxNG..."
            autofocus
            class="w-full px-6 py-3 rounded-full focus:outline-none frosted-glass"
        />
        <button
            type="submit"
            aria-label="Search"
            class="absolute top-1/2 transform -translate-y-1/2 right-4 focus:outline-none hover:cursor-pointer"
        >
            <Search />
        </button>
    </form>
</astro-search>

<script>
    class AstroSearch extends HTMLElement {
        connectedCallback() {
            const searchForm = this.querySelector("form") as HTMLFormElement;
            const searchInput = this.querySelector("input") as HTMLInputElement;

            searchForm.addEventListener("submit", (e) => {
                e.preventDefault();
                const query = searchInput.value.trim();
                if (query) {
                    window.location.href = `https://searx.7sref/search?q=${encodeURIComponent(query)}`;
                }
            });
        }
    }

    customElements.define("astro-search", AstroSearch);
</script>
